@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Cinzel', serif;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 40px;
  cursor: pointer;
}
.blue{
  background: lightcyan;
}
.green{
  background: lightgreen;
}

.row{
  margin: 5px 0;
}
.row-input{
  font-size: 20px;
  margin: 3;
  padding: 9px 24px;
  border: 2px solid black;
  border-radius: 5px;
}